@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" )
*{
  margin:0 ;
  padding: 0;
  box-sizing:border-box ;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size:20px;
  font-weight: 300;
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.5em 0;
}
​
h2 {
  font-style: normal;
  font-size:16px;
  font-weight:300px ;
}
h3 {
  font-style: normal;
  font-size:20px;
  font-weight:300;
  color: white; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0A0909;
  width: 100vw;
  height: 100vh;
}
​
.home-header {
width: 100vw;
height: 100vh;
background-color: #0A0909;
color: white;
display: flex;
align-items: center;
justify-content:center;
}

.home-content{
  background-image: "foto2.jpg";
  padding: 24px;
  font-size: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
  color: black;
}
​
.home-content--bg-1 {
  background-image:"foto2.jpg";
}

.home-content--bg-2 {
  background-image: "foto.jpg";
  margin
}
​
.home-content__foto.jpg {
  display: block;
  margin: 0 auto 20px;
  border-radius: 50%;
}
.home-content--body {
  width: 100vw;
  height: 100vh;
  padding:24px;
  margin: 20px;
  background-color: 9999A1;
  color: black;
  font-weight: 300;
}
.form__input{
  font-family: inherit;
}
.form__cta{
  color: white;
  font-family: inherit ;
  background-color: orangered;
  border-color: orangered;
  border-radius: 10px;
  width: 40%;
  margin-left: auto;
}
.form{
  background-color: #0A0909 ;
  margin: auto;
  width: 100%;
}
.form__container{
  height: 60%;
  width: 80%;
  padding: 40px;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100% ;

}
.form__title{
  color: white;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  margin-bottom:.4em ;
}
.form__info{
  color: white;
}




